In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('weather (1).csv', index_col='date')
data

            precipitation  temp_max  temp_min  wind  weather
date
2012-01-01            0.0      12.8       5.0   4.7  drizzle
2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03            0.8      11.7       7.2   2.3     rain
2012-01-04           20.3      12.2       5.6   4.7     rain
2012-01-05            1.3       8.9       2.8   6.1     rain
...                   ...       ...       ...   ...      ...
2015-12-27            8.6       4.4       1.7   2.9     rain
2015-12-28            1.5       5.0       1.7   1.3     rain
2015-12-29            0.0       7.2       0.6   2.6      fog
2015-12-30            0.0       5.6      -1.0   3.4      sun
2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

In [3]:
data.index

Index(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05',
       '2012-01-06', '2012-01-07', '2012-01-08', '2012-01-09', '2012-01-10',
       ...
       '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-26',
       '2015-12-27', '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31'],
      dtype='object', name='date', length=1461)

In [4]:
data.index=pd.to_datetime(data.index)
data.index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25',
               '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', name='date', length=1461, freq=None)

In [5]:
x=data.drop('weather',axis=1)
x

            precipitation  temp_max  temp_min  wind
date
2012-01-01            0.0      12.8       5.0   4.7
2012-01-02           10.9      10.6       2.8   4.5
2012-01-03            0.8      11.7       7.2   2.3
2012-01-04           20.3      12.2       5.6   4.7
2012-01-05            1.3       8.9       2.8   6.1
...                   ...       ...       ...   ...
2015-12-27            8.6       4.4       1.7   2.9
2015-12-28            1.5       5.0       1.7   1.3
2015-12-29            0.0       7.2       0.6   2.6
2015-12-30            0.0       5.6      -1.0   3.4
2015-12-31            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [6]:
y=data['weather']
y

date
2012-01-01    drizzle
2012-01-02       rain
2012-01-03       rain
2012-01-04       rain
2012-01-05       rain
               ...
2015-12-27       rain
2015-12-28       rain
2015-12-29        fog
2015-12-30        sun
2015-12-31        sun
Name: weather, Length: 1461, dtype: object

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test  =train_test_split(x, y, test_size=0.2)

In [8]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

In [9]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
model.fit(x_train, y_train)

RandomForestClassifier()

In [11]:
y_predict=model.predict(x_test)
y_predict

array(['fog', 'fog', 'sun', 'rain', 'rain', 'sun', 'sun', 'fog', 'rain',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'fog', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'fog', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'sun', 'drizzle', 'rain', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'drizzle', 'sun', 'rain',
       'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'rain', 'fog', 'rain', 'rain', 'rain', 'sun',
       'rain', 'fog', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'fog', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'fog', 'sun', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'rain', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'fog', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun'], dtype=object)

In [12]:
#evaluate the model
model.score(x_train, y_train)

0.9965753424657534

In [13]:
model.score(x_test, y_test)

0.8088737201365188

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(y_predict, y_test)*100

80.88737201365188

In [15]:
np.random.seed()
for i in range(10, 101 ,10):
    print(f'trying model with {i} n_estimators.')
    model=RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f'model accuracy: {model.score(x_test, y_test)*100:.2f}%.')

trying model with 10 n_estimators.
model accuracy: 79.86%.
trying model with 20 n_estimators.
model accuracy: 79.86%.
trying model with 30 n_estimators.
model accuracy: 80.89%.
trying model with 40 n_estimators.
model accuracy: 81.23%.
trying model with 50 n_estimators.
model accuracy: 81.57%.
trying model with 60 n_estimators.
model accuracy: 80.89%.
trying model with 70 n_estimators.
model accuracy: 80.55%.
trying model with 80 n_estimators.
model accuracy: 80.20%.
trying model with 90 n_estimators.
model accuracy: 81.23%.
trying model with 100 n_estimators.
model accuracy: 80.89%.